:root {
  --color-web: #4d5ae5;
  --color-text: #434455;
  --bg-white: #ffffff;
  --bg-black: #2e2f42;
  --bg-team: #f4f4fd;
  --color-hover-focus: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background-color: var(--bg-white);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-web);
  text-transform: uppercase;
}

.header-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-black);
}

.nav-item {
  color: var(--bg-black);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bg-black);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-hover-focus);
}

address {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-hover-focus);
}
.main-section {
  background-color: var(--bg-black);
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--bg-white);
}

.main-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-white);
  background-color: var(--color-web);
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--color-hover-focus);
}

.profit-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--bg-black);
}

.profit-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--bg-black);
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--bg-black);
}
.team {
  background-color: var(--bg-team);
}

.team-img-list {
  background-color: var(--bg-white);
}

.title-picture {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--bg-black);
  background-color: var(--bg-white);
}

.text-picture {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  background-color: var(--bg-white);
}

footer {
  background-color: var(--bg-black);
}

.footer-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-team);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bg-team);
}

.portfolio-btn:hover {
  color: var(--bg-white);
  background-color: var(--color-hover-focus);
}
.portfolio-btn:focus {
  color: var(--bg-white);
  background-color: var(--color-hover-focus);
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-web);
  background-color: var(--bg-team);
  cursor: pointer;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--bg-black);
}

.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
